<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="phantom_ros2_control" params="name prefix">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>phantom_control/TopicBasedSystem</plugin>
          <param name="joint_commands_topic">/topic_based_joint_commands</param>
          <param name="joint_states_topic">/joint_states</param>
        <!-- <param name="example_param_hw_start_duration_sec">0</param>
        <param name="example_param_hw_stop_duration_sec">3.0</param>
        <param name="example_param_hw_slowdown">30</param> -->
      </hardware>

      <joint name="${prefix}arm_base_joint">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        
      </joint>
      <joint name="${prefix}arm_shoulder_pan_joint">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        
      </joint>

        <joint name="${prefix}arm_elbow_flex_joint">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        
      </joint>

 


    </ros2_control>

  </xacro:macro>

</robot>
